@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer:ital@0;1&display=swap');

body {
	font-family: 'IM Fell Great Primer', serif;
	font-size: 32px;
  font-weight: 400;
	line-height: 1.5;

	background-color: #D6F6B6;
	color: #1d1d1d;
	max-width: 1280px;
  margin: 0 auto;
  overflow-y: hidden;
  box-sizing: border-box;

  @media (width < 1280px) {
    width: 100%;
  }
}

body {
  font-size: 32px;

  @media (max-width: 768px) {
    font-size: 28px;
  }

  @media (max-width: 480px) {
    font-size: 24px;
  }
}


header {
  position: fixed;
  inset: 0 auto auto 0;
  width: 100%;
  padding: 2rem;

  display: flex;
  justify-content: space-between;

  @media (width < 705px) {
    padding: 2rem 1rem;
  }
}

nav {
  position: fixed;
  inset: auto auto 0 0;
  width: 100%;
  padding: 2rem;

  display: flex;
  justify-content: space-between;

  @media (width < 705px) {
    padding: 2rem 1rem;
  }
}

.canvas-holder {
  height: 100%;
  max-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.canvas-holder canvas {
  width: 40vmin;
  height: 60vmin;

  @media (width < 705px) {
    width: calc(100% - 4rem);
  }
}

a:hover {
  font-style: italic;
}
